.logo {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
  }
  
  .brandText {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem; /* Adjust as needed */
    margin-left: 10px; /* Adjust as needed */
  }
  
  /* Add additional CSS styles for navbar customization */
  