<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map with Routing</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="new-container" style="margin-left: 2%;">
        <h1 style="font-size: 60px; text-align: center;">Map with Routing</h1>
        <div style="font-size: 18px; margin-bottom:1%; text-align: center;">
            <b>Source Location: </b><span id="sourceLocation"></span>&nbsp; &#160;&nbsp; &#160;&nbsp; &#160;
            <b>Destination Location: </b><span id="destinationLocation"></span>&nbsp; &#160;
        </div>   
    </div>
    <div id="map" style="height: 80vh;"></div>    
    <div style="margin-top: 1%;">
        <button type="submit" id="searchAgainButton" class="ui primary button" style=" margin-left:45%; font-size:18px">Search again</button>
    </div>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: { lat: 43.7814368, lng: -79.4175989 } // Default center (Toronto)
            });

            // Initialize directions service and renderer
            var directionsService = new google.maps.DirectionsService();
            var directionsRenderer = new google.maps.DirectionsRenderer();
            directionsRenderer.setMap(map);

            //Retrieve coordinates passed from Flask application
            var coordinates = {{ coordinates|safe }};
            var source_loc =  {{ source_loc|safe }};
            var dest_loc =  {{ dest_loc|safe }};

            console.log(source_loc)
            console.log(dest_loc)

            // Add markers to the map based on the retrieved coordinates
            for (var i = 0; i < coordinates.length; i++) {
                var coordinate = coordinates[i];
                var marker = new google.maps.Marker({
                    position: { lat: coordinate.latitude, lng: coordinate.longitude },
                    map: map,
                    title: coordinate.name
                });
            }

            sourceLoc= document.getElementById('sourceLocation');
            destLoc= document.getElementById('destinationLocation');

            sourceLoc.innerHTML = source_loc.address;
            destLoc.innerHTML = dest_loc.address;

            // Define origin and destination coordinates
            var origin = new google.maps.LatLng(source_loc.latitude, source_loc.longitude); // York Keele Campus
            var destination = new google.maps.LatLng(dest_loc.latitude, dest_loc.longitude); // Uoft

            // Define request parameters for directions
            var request = {
                origin: origin,
                destination: destination,
                travelMode: 'TRANSIT' // You can change the travel mode here (DRIVING, WALKING, BICYCLING, TRANSIT)
            };

            // Retrieve directions and display them on the map
            directionsService.route(request, function(response, status) {
                if (status == 'OK') {
                    directionsRenderer.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }

        document.getElementById('searchAgainButton').addEventListener('click', function() {
            window.location.href = '/';
        });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap" async defer></script>
</body>
</html>
